body{
    padding: 20px;
}
/* CSS for Navbar */
nav {
    background-color: #F0F4FA;
    border-radius: 18px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  /* CSS for Search Bar Container */
  .search-bar {
    display: flex;
    align-items: center;
    width: 25%; /* Adjust this width as needed */
  }
  
  /* CSS for Search Input */
  input[type="text"] {
    background-color: white;
    border: none;
    border-radius: 8px;
    padding: 5px 10px;
    flex: 1;
    margin-right: 10px; /* Add some spacing between the icon and input */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    outline: none;
  }
  
  /* CSS for Search Icon */
  .search-icon {
    font-size: 20px;
    cursor: pointer;
    background-color: transparent;
  }
  